.App {
  text-align: center;
}

h1 {
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 100px;
}

h2 {
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 50px;
  margin-left: 50px;
}

h3 {
  margin-left: 40px;
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 40px;
}

p {
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 20px;
}

li {
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 40px;
  list-style: none;
}
  
button {
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 30px;
  background-color: rgb(234, 21, 28);
  color:orange;
}

h1 {
  color: orange;
  outline: rgb(234, 21, 28) dotted thick;
  text-align: center;
}

.navigation-menu ul {
  padding: 0px;
  margin: 0px;
}
ul {
    padding: 0;
    overflow: hidden;
    background-color: rgb(234, 21, 28);
}
li {
    float: left;
    list-style-type:none;
}
li a {
    display: inline-block;
    color: orange;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    }
li a:hover {
    background-color:orange;
    color: rgb(234, 21, 28)
}

label {
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 25px;
}

input {
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 30px;
}

#bookcard {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-right: 80px;
}

#bookimage {
  flex-basis: 20%
}

#bookinfo {
  padding-left: 50px;
}

#heading {
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 30px;
  color:rgb(234, 21, 28);
}

#detail-card {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-right: 80px;
}

#detail-book-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#tags{
  flex-basis: 20%
}

#detail-info {
  padding-left: 50px;
  padding-right: 80px;
  padding-top: 50px;
}