.App {
  text-align: center;
}

h1 {
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 80px;
}

h2 {
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 50px;
  margin-left: 50px;
}

h3 {
  margin-left: 40px;
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 40px;
}

h4 {
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 40px;
  text-align: center;
  color: rgb(234, 21, 28);
}

p {
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 20px;
}
  
button {
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 30px;
  background-color: rgb(234, 21, 28);
  color:orange;
}

.navigation-menu ul {
  padding: 0px;
  margin: 0px;
}
#nav ul {
    padding: 0;
    overflow: hidden;
    background-color: rgb(234, 21, 28);
}
#nav li {
    float: left;
    list-style-type:none;
}
#nav li a {
    display: inline-block;
    color: orange;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
    font-size: 40px;
    list-style: none;
    }
#nav li a:hover {
    background-color:orange;
    color: rgb(234, 21, 28)
}

label {
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 30px;
}

input {
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 30px;
}

#bookcard {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-right: 80px;
}

#bookimage {
  flex-basis: 20%
}

#bookinfo {
  padding-left: 50px;
}

#bookinfo button {
  margin-top: 30px;
}

#heading {
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 30px;
  color:rgb(234, 21, 28);
}

#detail-card {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-right: 80px;
}

#detail-book-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#tags{
  flex-basis: 20%;
  /* margin-right: 50px; */
  outline:rgb(234, 21, 28) dotted 10px;
  padding-bottom: 40px;
  justify-content: center;
}

#reading-list-button {
  padding-top: 100px;
}

#detail-info {
  padding-left: 50px;
  padding-right: 80px;
  padding-top: 50px;
}

#header {
  color: orange;
  outline: rgb(234, 21, 28) double 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 115px;
}

#attribute {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

#currentUser {
  color: orange;
  padding-top: 10px;
  padding-left: 15px;
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 40px;
  list-style: none;
}

#welcome {
  color:rgb(234, 21, 28);
  text-align: center;
  font-family: "Amatic SC", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 35px;
  list-style: none;
}

#animate { 
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    rgb(234, 21, 28),
    orange,
    rgb(241, 178, 61),
    orange,
    rgb(248, 103, 6),
    rgb(255, 81, 0)
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 60px;
  padding-right: 40px;
  text-align: center;}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#review-list {
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 20px;
  list-style: none;
}

#author-div {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-right: 80px;
}

#author-info {
  margin-left: 50px;
}


#review-cards {
  margin-left: 50px;
}

#book-description {
  text-align: left;
  width: 1000px;
}

#reading-list {
  color:rgb(234, 21, 28);
  margin-left: 50px;
}

#user-greeting {
  display: flex;
  height: 125px;
  align-items: center;
}

#user-greeting-image {
  margin-left: 50px;
  margin-top: 30px;
  align-items: center;
  justify-items: center;
  color:rgb(234, 21, 28);
}

